# =========================
# Telegram API
# =========================

TG_API_ID=
TG_API_HASH=
TG_PHONE=

# Session保存位置
TG_SESSION=/data/telegram_drive


# =========================
# Proxy
# =========================

ENABLE_PROXY=false
PROXY_HOST=proxy
PROXY_PORT=1080
PROXY_TYPE=socks5


# =========================
# Database
# =========================

DATABASE_URL=sqlite+aiosqlite:///./data/files.db


# =========================
# Server
# =========================

PORT=8000
